body {
  font-family: 'Poppins', sans-serif;
  margin:0;
  padding:0;
}

h1{
  font-size: 2.5rem;
}

h2{
  font-size: 1.2rem;
}

.highlight{
  color:orange;
}

.link-button{
  color: #fff;
  background-image:linear-gradient(90deg,salmon,tomato);
  padding: 1rem 2rem;
  border-radius: 0.6rem;
  text-decoration:none;
  font-weight:700;
}

.section{
  display:flex;
  width:100%;
}

.section1{
  background-image: url(./images/top-banner.png);
  background-repeat:no-repeat;
}

.section2{
  background-image: url(./images/dream-bg.png);
  background-repeat:no-repeat;
  background-position: bottom right;
}

.coverPic{
  width: 14rem;
  position: absolute;
  border-radius: 100%;
  z-index: 1;
}

.half-part{
  width:50%;
}

.half-part > p{
  text-align:justify;
  margin-bottom: 2rem;
}

.half-part.cover{
  position:relative;
  display: flex;
  justify-content:center;
  align-items:center;
}

.preamble{
  padding: 2rem;
}

.circle-bg{
  border-radius:100%;
  display: inline-block;
  margin:0;
  width: 14rem;
  height: 14rem;
  background-image: linear-gradient(salmon,tomato);
  position: absolute;
}

